/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 15px;
}

#MessageBoard-taslink {
    padding: 40px 0;
}

.label-size-large{
    font-size: 13px;
}

.navbar {
    border-radius: 0; 
}

.row {
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid#e7e7e7;
    background-color: #f8f8f8;
    text-align: center;
}

.copyright {
    padding: 20px 0;
    font-size: 12px;
    color: #666;
}

@media (max-width: 768px) {
    
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
   
}
